<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
</head>
<body>
	<section>
		<span><i class="fas fa-bars" onclick="toggleSidebar()"></i></span>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header text-center">
							<h1>Change Password</h1>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6 offset-md-3">
									<div class="card-body">
											<div th:if="${session.message}" th:classappend="${session.message.msgType}"
												class="alert alert-dismissible fade show" role="alert">
												<p th:text="${session.message.msgContent}"></p>
												<button type="button" class="close" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<th:block th:text="${#session.removeAttribute('message')}"></th:block>
											</div>
									<form action="#" th:action="@{/setting/processpasswordchange}" method="post">
										<div class="form-group">
											<label for="confirmPassword">Old Password</label>
											<div class="input-group">
												<input type="password" name="oldPassword" class="form-control" placeholder="Old password" />
											</div>
										</div>
										<div class="form-group">
											<label for="confirmPassword">New Password</label>
											<div class="input-group">
												<input type="password" name="newPassword" class="form-control" placeholder="New password" />
											</div>
										</div>
										<div class="container text-center">
											<button type="submit" class="btn bg-primary text-white">Submit</button>
											<button type="reset" class="btn btn-warning text-white">Reset</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			$("#setting-link").addClass("active");
		</script>
	</section>
</body>
</html>